[package]
name = "game"
version.workspace = true
edition.workspace = true

[[bin]]
name = "sim2d"
path = "src/main.rs"

[dependencies]
bevy = { workspace = true }
bevy_rapier2d = "0.32"
bevy_enhanced_input = "0.19"
rand = "0.9"
bevy_egui = "0.37"
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"
bevy_common_assets = { version = "0.14", features = ["toml"] }
log = { version = "*", features = ["max_level_debug", "release_max_level_warn"] }
rayon = "1.11.0"
bevy_pixel_world = { path = "../bevy_pixel_world", default-features = false, optional = true }
bevy-yoleck = { version = "0.29", optional = true, features = ["vpeol_2d"] }

[features]
default = ["dev"]
dev = ["bevy/dynamic_linking", "bevy/file_watcher", "visual_debug", "diagnostics", "editor"]
editor = ["dep:bevy-yoleck"]
visual_debug = []
diagnostics = ["bevy_pixel_world/diagnostics", "dep:bevy_pixel_world"]
